services:
  fastapi:
    image: ritishadhikari/fastapi:dev
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
  streamlit:
    image: ritishadhikari/streamlit:dev
    build:
      context: ./streamlit_app
      dockerfile: Dockerfile
    ports:
      - 8501:8501
    environment:
      API_URL: ${API_URL}
